.hard{
    width:100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.pen{
    width: 48%;
}
.choice{
    margin-top: 11rem;
}
.choice h3{
    width: 59%;
    line-height: 26px;
    font-size: 21px;
    color: #128C7E;
}
.choice h2{
    line-height: 26px;
    font-size: 21px;
    color: #128C7E;
}
.choice img{
    margin-top: 2rem;
    width: 50%;
    text-align: left;
    justify-content: center;
    align-items: center;
}
.choice p{
    word-break: initial;
    text-align: center;
    font-size: 18px;
    line-height: 26px;
}

.Speech{
    padding: 1rem;
}

  .access {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
.platform{
    width: 60%;
    height: 50vh;
}
  .platform iframe{
    margin: 10px;
    width: 70%;
    height: 90%;
  }

@media screen and (max-width: 480px){
    .hard{
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .choice p{
        text-align: left;
        font-size: 38px;
        line-height:  1.2;
        padding-left: 7rem;
        width: 180%;
    }
    .choice h3 {
        color: #128C7E;
        font-size: 39px;
        text-align: left;
        margin-left: 7rem;
    }
    .choice img{
        width: 150%;
        text-align: left;
        justify-content: center;
        align-items: center;
        margin-left: 7rem; 
    }
    .Speech{
        font-size: 33px;
        margin-left: 3rem;
        width: 180%;
        padding: 2rem;
    }
    .choice h2 {
        color: #128C7E;
        font-size: 34px;
        margin-left: 7rem;
        text-align: left;
        line-height: 1.3;
        width: 150%;
    }
    .access{

    }
    .platform{
        width: 100%;
        height: 100vh;
        text-align: center;
        justify-content: center;
    }
    
}

@media screen and (max-width: 320px){
    .choice h3 {
        color: #128C7E;
        font-size: 39px;
        width: 80%;
    }
    .choice img{
        width: 150%;
        text-align: left;
        justify-content: center;
        align-items: center;
        margin-left: 7rem; 
    }
    .choice p{
        text-align: left;
        font-size: 25px;
        line-height:  1.2;
    }
    .Speech{
        font-size: 27px;
        margin-left: 3rem;
        padding: 1.5rem;
        width: 200%;
    }
    .access{
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-left: -15rem;
    }
    .platform{
        justify-content: center;  
        text-align: center; 
        max-width: 70%;
    }
}

@media screen and (max-width: 380px){
    .choice h3 {
        color: #128C7E;
        font-size: 39px;
        width: 100%;
    }
    .access{
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-left: -15rem;
    }
    .platform{
        justify-content: center;  
        text-align: center; 
        max-width: 70%;
    }
}

@media screen and (max-width: 768px){
    .choice h3 {
        color: #128C7E;
        font-size: 39px;
        text-align: left;
        margin-left: 7rem;
    }
    .choice img{
        width: 130%;
        text-align: left;
        justify-content: center;
        align-items: center;
        margin-left: 7rem; 
    }
    .choice p{
        text-align: left;
        font-size: 25px;
        line-height:  1.2;
        padding-left: 7rem;
        width: 140%;
    }
    .Speech{
    font-size: 33px;
    margin-left: 3rem;
    width: 130%;
    padding: 2rem;
    }
    .choice h2 {
        color: #128C7E;
        font-size: 34px;
        margin-left: 7rem;
        text-align: left;
        line-height: 1.3;
        width: 150%;
    }
    .platform{
        text-align: center;
        justify-content: center;
        margin: 1rem;
        width: 100%;
    }
      .platform iframe{
        margin: 10px;
        text-align: center;
        justify-content: center;
        margin-left: 19rem;
      }
}

