.info{
    font-size: 1.2rem;
}


@media screen and (max-width: 380px){
.info{
    font-size: 0.8rem;
    padding-left: 5rem;

}
}


@media screen and (max-width: 480px){
.info{
    margin-right: -12rem;
    font-size: 1.4rem;
    font-weight: 500;
}
}

@media screen and (max-width: 340px){
    .info{
        font-size: 1rem;
        padding-left: 2rem;
    }
}

@media screen and (max-width: 768px){
    .info{
        font-size: 1.4rem;
    }
}